body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #51050f;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.button.contact {
  background-color: #e02401;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.contact:hover {
  background-color: #51050f;
  color: #ffffff;
}
.button.olive {
  background-color: #e02401;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.olive:hover {
  background-color: #51050f;
  color: #ffffff;
}

.container {
  text-align: right;
}
.button.design {
  background-color: #f78812;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.button.design:hover {
  background-color: #e02401;
  color: #ffffff;
}

.button.resume {
  background-color: #e02401;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.resume:hover {
  background-color: #51050f;
  color: #ffffff;
}

.header {
  background-color: #ab6d23;
}
