body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #51050f;
  padding: 20px;
  margin: 10px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.button.contact {
  background-color: #f78812;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.contact:hover {
  background-color: #e02401;
  color: #ffffff;
}
.button.olive {
  background-color: #ab6d23;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.olive:hover {
  background-color: #e02401;
  color: #ffffff;
}

.button.trivel {
  background-color: #ab6d23;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.trivel:hover {
  background-color: #e02401;
  color: #ffffff;
}

.button.design {
  background-color: #ab6d23;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.button.design:hover {
  background-color: #e02401;
  color: #ffffff;
}

.button.resume {
  background-color: #e02401;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.resume:hover {
  background-color: #51050f;
  color: #ffffff;
}

.header {
  background-color: #ab6d23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 {
  display: flex;
  justify-content: center;
  background-color: #ab6d23;
  align-items: center;
}

.twoColumn {
  width: 48%;
  display: inline-grid;
  background-color: #f78812;
  padding: 10px;
  justify-content: center;
  height: 200;
}

.aboutcolumn1 {
  width: 48%;
  background-color: #ffffff;
}

.aboutcolumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutcolumn2 {
  background-color: #ffffff;
  width: 48%;
  padding: 30px;
}

.column24 {
  float: left;
  width: 52%;
  padding: 10px;
  height: 300px;
}

.column25 {
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;
}

.side {
  flex: 45%;
  background-color: #f78812;
  padding: 20px;
  margin: 10px;
}

.main {
  flex: 45%;
  background-color: #f78812;
  padding: 20px;
  margin: 10px;
}
